.actionBlock {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 25px;
  .selectsWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    & > div:first-child {
      margin-right: 15px;
    }
  }
}

.listBlock {
  h3 {
    font-size: 22px;
    color: #4f4e4e;
    margin-bottom: 15px;
  }
  .listContainer {
    position: relative;
    min-height: 100px;
  }
}

.paginationBlock {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  p {
    margin: 0;
    color: #4f4e4e;
    text-align: right;
    white-space: nowrap;
    &:first-child {
      margin-bottom: 5px;
    }
  }
}
