.ant-select-arrow {
  .anticon-down {
    border-width: 6px;
    border-color: transparent #c8c7c7 #c8c7c7 transparent;
    border-style: solid;
    transform: rotate(45deg) translateX(-6px);
    svg {
      display: none;
    }
  }
}
