.selectWrapper {
  max-width: 220px;
  width: 100%;
  label {
    line-height: 2;
  }
}

.dropArrow {
  border-width: 6px;
  border-color: transparent #c8c7c7 #c8c7c7 transparent;
  border-style: solid;
  transform: rotate(45deg) translateX(-6px);
}
